<h1> List of all actors </h1>
<hr>

<table border="1">
  <tr>
    <th> ID </th>
    <th> Image </th>
    <th> Name </th>
    <th> DOB </th>
    <th></th>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td> Show details </td>
  </tr>

</table>
